
p{
    font-size: 18px;
}

.main-container{
    margin-top: 108px;
}

.services-content{
    display: flex;
    justify-content: center;
    width: 30%;
    margin: auto;
}

.services{
    display: flexbox;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #5B5B5B;
    letter-spacing: 0.01em;
    line-height: 26px;
    background: #fff;
    border-radius: 20px;
}
.services-context {
    padding-bottom: 73px;
}
.services-context h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: -0.03em;
    color: #0D1317;
    margin-bottom: 16px;
}

.services-top-image img{
    border-radius: 20px;
}

.services-image img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    justify-content: center;
    align-items: center;

}

#services-top-image{
    border-radius: 20px;
}

.services a{
    margin-top: 24px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    color: #F58A07;

}

.services-context{
    margin-top: 33px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 182px;
}
.description a{
    display: block;
    max-width: 22%;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
    text-transform: capitalize;
    color: #FFFFFF;
    padding: 18px 32px;
    background: #F58A07;
    border-radius: 27px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 32px;
}

.position-content{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1280px;
    gap: 40px;
    margin-bottom: 128px;

}
.position h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
    margin-bottom: 64px;
}

.pos-box{
    background: rgba(193, 228, 255, 0.3);
    border-radius: 20px;
    display: flexbox;
    padding: 40px;
    min-width: 400px;
    box-sizing: border-box;
}

.pos-box h4{
    font-weight: 500;
font-size: 24px;
line-height: 30px;
/* identical to box height, or 125% */
margin-bottom: 8px;
letter-spacing: -0.03em;
color: #0D1317;
}


.pos-box p{
    font-weight: 500;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */
color: #394149;
opacity: 0.6;
margin-bottom: 32px;
}


.pos-box a{
    font-weight: 400;
font-size: 18px;
line-height: 106.5%;
/* or 19px */
text-decoration: none;
color: #F58A07;
}